body {
  background-attachment: rgb(250, 250, 250);
}

.container {
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  justify-content: center;
}

.image {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
}

.flagimage {
  width: 120px;
  margin-top: -129px;
  margin-left: 67%;
  display: block;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 70%;
    margin-right: 20%;
  }

  .flagimage {
    width: 25%;
    margin-top: -27%;
    margin-left: 80%;
  }
}
