body {
  background-attachment: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

.flagimage {
  width: 72px;
  margin-top: -105px;
  margin-right: 243px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 70%;
    margin-right: 20%;
  }

  .flagimage {
    width: 15%;
    margin-top: -21%;
    margin-left: 22%;
    margin-right: 85%;
  }
}
